@import "../../../../styles/globalStyles.module.scss";
.mw-login__mobile {
  width: fit-content;
  height: fit-content;
  display: none;
}
.mw-login__desktop {
}
.mw-login {
  width: 470px;
  min-width: 350px;

  background-color: white;

  padding: 0 var(--helio-space-M);
  height: fit-content;

  border-radius: var(--helio-space-S);

  .mobile-sheet__pan {
    display: none;
    height: 38px;
    position: relative;
    &:after {
      content: "";

      width: 50px;
      height: 3px;

      justify-self: center;
      align-self: center;

      border-radius: 12px;
      background-color: rgba(128, 128, 128, 0.7);
    }
  }

  .close-icon__wrapper {
    display: flex;
    justify-content: end;
    align-items: center;

    height: 32px;

    padding: var(--helio-space-M);
    box-sizing: content-box;
  }
  .mw-login__content {
    padding: 0 var(--helio-space-XL) var(--helio-space-3XL)
      var(--helio-space-XL);

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: var(--helio-space-M);
    }
    .description {
      margin-top: var(--helio-space-L);
      margin-bottom: var(--helio-space-M);

      text-align: center;
    }
    .title {
      text-align: center;
    }
    .terms {
      margin-top: var(--helio-space-XL);
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  .mw-login {
  }
}
@media (max-width: 600px) {
  .mw-login {
    align-self: flex-end;
    width: 100vw;

    padding: 0 var(--helio-space-L) var(--helio-space-M) var(--helio-space-L);

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    .mobile-sheet__pan {
      display: grid;
    }

    .close-icon__wrapper {
      display: none;
    }

    .mw-login__content {
      .title {
        font-size: 28px;
      }
      padding: 0;
    }
  }
}
