.mw-login--mobile {
  width: fit-content;
  height: fit-content;
  display: none;
  overflow: hidden;
}
.mw-login--desktop {
}

@media (max-width: 650px) {
  .mw-login--mobile {
    display: block;
  }
  .mw-login--desktop {
    display: none;
  }
}
