.mw-store-product-detail-title {
  color: var(--helio-color-primaryText);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.title {
  text-align: left;
  margin-bottom: var(--helio-space-S);
}
