@import "/src/styles/globalStyles.module.scss";

.set-location-info {
  display: flex;
  flex-direction: column;
  //   grid-template-rows: auto  auto;
  //   justify-content: center;
  padding: 0 var(--helio-space-5XL);

  &__fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--helio-space-2XL);
  }
}

@media (max-width: 740px) {
  .set-location-info {
    padding: 0;
    &__fieldset {
      gap: var(--helio-space-L);
    }
  }
}
