.suggestions-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--helio-space-2XL);

  min-width: 350px;

  padding-top: var(--helio-space-XL);
}
