h3 {
  font-size: 58px;
  font-weight: 700;
}

.layout-container {
  max-width: 1120px;
  width: 100%;

  margin: 0 auto;
  // min-width: 350px;
}

.stickyScreen {
  inset: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
