@import "/src/styles/globalStyles.module.scss";

.close-icon__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--helio-space-M);
  box-sizing: content-box;

  transition: 0.3s ease-in-out;
  .text {
  }

  .close-icon {
    // align-self: center;
    // justify-self: self-end;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;

    cursor: pointer;
    &:after {
      content: "";
      height: 21px;
      width: 3px;

      background-color: rgb(100, 99, 99);
      border-radius: 2px;

      transform: rotateZ(135deg);
      position: absolute;
    }
    &:before {
      content: "";
      height: 21px;
      width: 3px;

      background-color: rgb(100, 99, 99);
      border-radius: 2px;

      transform: rotateZ(45deg);
      position: absolute;
    }
  }
}

.content {
  padding-left: var(--helio-space-2XL);
  padding-right: var(--helio-space-2XL);
  padding-bottom: var(--helio-space-M);
}
