.header {
  width: 100%;
  background-color: var(--color-globalBackground);
  padding: var(--helio-space-XL) 7.5%;

  position: fixed;

  display: grid;
  gap: 16px;

  grid-template-columns: minmax(max-content, 1fr) minmax(0, 406px) minmax(
      min-content,
      1fr
    );
  grid-template-areas: "logo input ";

  &__right-bar {
    gap: var(--helio-space-XS);
    display: flex;
    justify-self: end;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: var(--helio-space-XL) 5%;
  }
}
@media (max-width: 600px) {
  .header {
    // padding: ;
  }
}
