@import "/src/styles/globalStyles.module.scss";

.pin-map-location {
  // display: grid;
  // grid-template-rows: auto auto;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 72px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: var(--helio-space-2XL);

    .map-container {
      height: 308px;

      width: 100%;

      object-fit: cover;
      overflow: hidden;

      border-radius: 4px;
    }

    .current-address {
      font-size: 16px;
      line-height: 1.5;

      padding: 0 40px;

      text-align: center;
    }

    .button {
      justify-self: center;
      // width: fit-content;
    }
  }
}

@media (max-width: 740px) {
  .pin-map-location {
    padding: 0;
    &__content {
      .current-address {
        padding: calc(40px / 2);
      }
    }
  }
}
