.header-logo__brand {
  width: 119px;
  // width: 100%;
}
.header-logo__ballon {
  display: none;
}

@media (max-width: 650px) {
  .header-logo__brand {
    display: none;
  }
  .header-logo__ballon {
    display: block;
    width: 32px;
    // width: 100%;
  }
}
