@import "/src/styles/globalStyles.module.scss";

.header-button {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  min-width: 138px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  color: white;

  border-radius: 24px;

  background-color: var(--color-accent);
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: var(--color-accentHover);
  }
}
@media (max-width: 650px) {
  .header-button {
    height: 38px;
    min-width: 130px;
  }
}

.mw-location-button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  max-width: 100%;
  width: 340px;

  padding-left: var(--helio-space-M);
  padding-right: var(--helio-space-M);

  font-size: 18px;
  font-weight: 700;
  color: var(--helio-color-buttonText);
  height: 48px;

  background-color: var(--color-accent);
  border-radius: 24px;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: var(--color-accentHover);
    transition: 0.3s ease-in-out;
  }

  &:disabled {
    background-color: var(--helio-color-disabled);
    cursor: not-allowed;
  }
}
