.discount-mark {
  padding: var(--helio-space-2XS) var(--helio-space-XS);

  font-weight: 700;
  font-size: 14px;

  background-color: var(--color-globalBackground);

  border-radius: 4px;

  width: fit-content;
}
