.general-category {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 400px;

  margin-top: var(--helio-space-5XL);
  margin-bottom: var(--helio-space-3XL);

  background-color: var(--color-globalBackground);
  &__list {
    display: flex;

    gap: var(--helio-space-L);
  }
}

.general-category__item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 180px;
  width: 110px;

  position: relative;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: 0.25s ease-in;
    &:after {
      content: "";
      width: 100%;
      height: 2px;

      background-color: var(--helio-color-warning);
      border-radius: var(--helio-space-M);

      position: absolute;
      bottom: 0;
    }
  }
  .bubble__wrapper {
    display: grid;

    width: 98px;
    height: 98px;

    background: rgba(225, 159, 23, 0.5); //rgba(225, 159, 23, 0.5);
    border-radius: 46% 54% 54% 46%/58% 56% 44% 42%;

    position: relative;

    .bubble {
      display: grid;

      height: 93px;
      width: 91px;

      border: 2px solid var(--helio-primitiveColor-yellow500);
      border-radius: 56% 44% 45% 55%/58% 53% 47% 42%;
      background-color: white;

      position: absolute;
      // z-index: 1;
      align-self: center;
      justify-self: center;

      .img {
        justify-self: center;
        align-self: center;

        height: 45px;
      }
    }
  }
  .title {
    padding-top: var(--helio-space-XS);
    text-align: center;
  }
}
