.store-catalogue-item {
  margin-top: var(--helio-space-XL);

  .icon {
    height: 35px;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: var(--helio-space-S);

    margin-bottom: var(--helio-space-L);
    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
    }
  }

  .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.mw-store-product-detail--extend {
  display: grid;
  grid-template-columns: 7fr 5fr;
}

@media (max-width: 1024px) {
  .store-catalogue-item {
    &__title {
      margin-bottom: var(--helio-space-M);
    }
  }
}

@media (max-width: 1351px) {
  .store-catalogue-item {
    .products-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 600px) {
  .store-catalogue-item {
    margin-top: var(--helio-space-M);
  }
}
