.store-catalogue {
  &__title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--helio-space-2XS);

    max-width: 120px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-accent);

    max-width: 120px;

    padding: 0 var(--helio-space-M);

    &__text {
      margin: 1em 0;
    }
  }

  &__list {
  }

  &__item {
    padding: var(--helio-space-M) var(--helio-space-XS) var(--helio-space-M)
      calc(var(--helio-space-M) + var(--helio-space-2XS));
    box-sizing: border-box;

    border-bottom: 1px solid var(--helio-color-primaryBorder);
  }

  .store-catalogue__link_active {
    background-color: var(--helio-color-mediumGlobalBackground);
    border-radius: 100px;
    font-size: 4px;
  }

  .store-catalogue__link {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;

    color: var(--helio-color-primaryText);

    text-align: left;
  }
}

.store-catalogue_sticky {
  top: 140px;
}
