.search-form {
  display: flex;
  align-items: center;

  height: 36px;

  background-color: var(--helio-color-secondaryBackground);
  border-radius: 24px;

  //
  position: relative;
}

.search-input__fieldset {
  display: flex;
  align-items: center;
  gap: var(--helio-space-XS);

  margin-left: var(--helio-space-L);
  width: 100%;
}
.search-input {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;

  width: 100%;

  background-color: inherit;
  padding: var(--helio-space-2XS) 0;
}

@media (min-width: 1025px) {
  .search-form {
    height: 44px;
    max-width: 100%;
  }
}

.store-dropdown-input-suggestions--hidden {
  display: none;
}
