.mw-user-password-edit {
  padding: 0 var(--helio-space-M) var(--helio-space-M);
  // padding-top: var(--helio-space-3XL);
  .input__wrapper {
    margin-bottom: var(--helio-space-L);
  }
  .button-confirm__wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
  }
}

.title {
  color: var(--helio-color-primaryText);

  font-size: 20px;
  font-weight: 600;
  line-height: 50px;

  text-align: center;
}

.input-message {
  font-size: 12px;
  color: var(--helio-color-secondaryText);
  font-weight: 400;
  line-height: 16px;

  margin-top: 6px;
}
