.path-to-store {
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 300;

  margin: 1em 0;

  &__link {
    color: var(--helio-color-primaryInvertedConsistentText);
  }
  &__link_active {
    font-weight: 700;
  }
}

.path-to-store__margin {
  margin-bottom: var(--helio-space-XL);
}

@media (max-width: 600px) {
  .path-to-store--hidden {
    display: none;
  }
}
