.mw-input {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 34px;

  border-bottom: 2px solid var(--helio-color-primaryBorder);
  background-color: transparent;
  transition: 0.3s;

  .font {
    font-size: 16px;
    font-weight: 300;
  }

  &__content {
    display: flex;
    align-items: center;

    width: 100%;

    position: relative;
    z-index: 2;
    .input {
      width: 100%;
      background-color: transparent;

      transition: 0.4s;

      overflow: visible;

      &::-webkit-search-cancel-button {
        appearance: none;
        position: absolute;

        right: 0;

        width: 25px;
        height: 25px;

        background-size: cover;
        background-image: url("/src/assets/icons/input/input-clear-button.svg");
        background-repeat: no-repeat;

        cursor: pointer;
      }

      &:not(:focus)::-webkit-search-cancel-button {
        opacity: 1;
      }
      &:focus ~ .input-placeholder,
      &:not(:placeholder-shown) ~ .input-placeholder {
        top: -1rem;
        font-size: 12px;
      }
    }
    .input-placeholder {
      position: absolute;
      z-index: -1;
      transition: 0.4s;

      left: 0;
      top: 0;
    }
  }
}

.error {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 6px;

  color: var(--helio-color-alert);
}
