.mw-input-wrapper {
  position: relative;
  transition: height 1s ease;

  .mw-input {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 34px;

    border-bottom: 2px solid var(--helio-color-primaryBorder);
    background-color: transparent;
    transition: 0.3s;

    .font {
      font-size: 16px;
      font-weight: 300;
    }

    &__content {
      display: flex;
      align-items: center;

      width: 100%;

      position: relative;
      z-index: 2;
      .input {
        width: 100%;
        background-color: transparent;

        transition: 0.4s;

        overflow: visible;

        // &:not(:focus) ~ .button-cleaner {
        //   visibility: visible;
        // }

        &:not(:placeholder-shown) ~ .button-cleaner {
          visibility: visible;
        }

        &:focus ~ .input-placeholder,
        &:not(:placeholder-shown) ~ .input-placeholder {
          color: var(--helio-color-secondaryText);
          font-size: 12px;
          top: -1rem;
        }
      }
      .input-placeholder {
        color: var(--helio-color-disabledText);

        transition: 0.4s;

        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
      }
      .button-cleaner {
        position: absolute;
        right: 0;

        width: 24px;
        height: 24px;

        visibility: hidden;

        background-size: cover;
        background-image: url("/src/assets/icons/input/input-clear-button.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .error {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 6px;

    color: var(--helio-color-alert);
    visibility: hidden;
  }

  .error-show {
    visibility: visible;
  }
}
