.store-cart {
  display: flex;
  flex-direction: column;

  min-height: 400px;
  max-height: calc(100vh - 184px);

  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--helio-color-floatingElementBackground);

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    margin: var(--helio-space-XL) 0 var(--helio-space-2XL);
    padding: 0 var(--helio-space-M);
  }

  &__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    flex-grow: 1;
    overflow: auto;

    margin-bottom: var(--helio-space-L);
    padding: 0 var(--helio-space-M);

    .cart-items-list__wrapper {
      background: linear-gradient(
          var(--helio-color-primaryBackground) 30%,
          hsla(0, 0%, 100%, 0)
        ),
        linear-gradient(
            hsla(0, 0%, 100%, 0),
            var(--helio-color-primaryBackground) 70%
          )
          0 100%,
        radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.07),
          transparent
        ),
        radial-gradient(
            farthest-side at 50% 99%,
            rgba(0, 0, 0, 0.07),
            transparent
          )
          0 100%;
      background-attachment: local, local, scroll, scroll;
      background-color: var(--helio-color-primaryBackground);
      background-repeat: no-repeat;
      background-size: 100% 40px, 100% 40px, 100% 7px, 100% 7px;

      width: 100%;
      overflow: auto;
      .cart-items-list {
        height: 100%;
        overflow: auto;
        // min-height: 0;
        width: 100%;
      }
    }

    &__text {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;

      margin: 40px 20px 0;

      text-align: center;
    }
  }

  .confirm-order-button {
    text-align: center;
    margin-bottom: var(--helio-space-M);
  }
}

.padding {
  padding: 0 var(--helio-space-M);
}
